.App-header {
background-color: #282c34;
height: 10vh;
display: flex;
flex-direction: row-reverse;
align-items: center;
justify-content: space-between;
font-size: calc(10px + 2vmin);
color: white;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
}

select {
margin-right: 20px;
}
